$cam-line-width: 2px;
$cam-line-width-half: 1px;
$cam-line-color: grey;
$cam-line-color-light: rgb(148, 148, 148);
.camera-overlay {
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: 100%;

	.horizontal {
		height: $cam-line-width;
		width: 100%;
		background-color: $cam-line-color;
		y: -$cam-line-width-half;
		box-shadow: 0 1px 5px rgb(0, 0, 0);

		&__c {
			margin-top: 50%;
			background-color: $cam-line-color-light;
		}
		&__1 {
			margin-top: 33.3%;
		}
		&__2 {
			margin-top: 66.6%;
		}
	}
	.vertical {
		height: 100%;
		width: $cam-line-width;
		background-color: $cam-line-color;
		x: -$cam-line-width-half;
		box-shadow: 0 1px 5px rgb(0, 0, 0);
		&__c {
			margin-left: 50%;
			background-color: $cam-line-color-light;
		}
		&__1 {
			margin-left: 33.3%;
		}
		&__2 {
			margin-left: 66.6%;
		}
	}
}
