@use '../config' as *;

$speedoBarThickness: 18px;
$speedoBarMarkerThickness: 2px;

.speedobars {
	ProgressBar.speedobar {
		&__vertical {
			transform: rotateZ(270deg) translateY($speedoBarThickness);
			transform-origin: 0% 0%;
			height: $speedoBarThickness;

			vertical-align: bottom;
		}
		&__horizontal {
			width: 100%;
			height: $speedoBarThickness;
			vertical-align: bottom;
		}
	}
	.speedobar__marker {
		&__vertical {
			width: $speedoBarThickness;
			height: $speedoBarMarkerThickness;
			transform: translateY(calc($speedoBarMarkerThickness / 2));
			z-index: 1;
			horizontal-align: left;
			vertical-align: bottom;
		}
		&__horizontal {
			width: $speedoBarMarkerThickness;
			height: $speedoBarThickness;
			margin-left: calc($speedoBarMarkerThickness / -2);
			z-index: 1;
			horizontal-align: left;
			vertical-align: bottom;
		}
	}
	.speedobar__meter {
		border-style: solid;
		background-color: transparent;
	}
}
